<div class="container">
  <div class="section">
    <div class="maintitle" *ngIf="topicMeta">{{topicMeta.title}} | {{topicMeta.description}}</div>
    <div class="table-responsive" *ngFor="let message of messages">
      <table class="table mb-0" border="1" *ngIf="message.author">
        <thead>
          <tr class="fs-13">
            <th scope="col" class="font-weight-bold text-center" style="width:20%">{{message.author.username}}</th>
            <th scope="col" class="font-weight-bold d-flex" *ngIf="message.dateTime">{{message.dateTime}}
              <span class="red text-right ml-auto pointer" (click)="deleteMessage(message.id)"
               *ngIf="message.author.username == currentUser.username || currentUser.role == 'Admin'">Удалить</span>
            </th>
          </tr>
          <tr>
            <td class="text-center">
              Роль: {{message.author.role}}
            </td>
            <td [innerHTML]="message.message">
            </td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <ng-container *ngIf="isAuthorized()">
    <h3 id="focusBlur">Напишите комментарий</h3>
    <quill-editor ng-model="editorData" [styles]="{height: '200px'}" (onEditorChanged)="changedEditor($event)"></quill-editor>

    <div class="btn btn-info btn-block mt-10 mb-20 col-md-3" (click)="onSubmit()">Отправить</div>
  </ng-container>
  <ng-container *ngIf="!isAuthorized()">
    <div class="alert alert-info">Только авторизованные пользователи могут оставлять сообщения. <a href="/login">Войти?</a> </div>
  </ng-container>
</div>
